.top {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  position: fixed;
  border: none;
  background-color: #350f4d;
  opacity: 0.3;
  display: flex;
  align-items: center;
}

.top div {
  width: 20px;
  height: 14px;
  margin: 0 auto;
}

.top:hover {
  opacity: 1;
}
